:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffb;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
.nav-link {
  color: var(--mainWhite) !important;
  font-size: 1.3 rem;
  text-transform: capitalize;
}
.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 1 !important;
  border: 0.1rem solid var(--mainDark) !important;
  cursor: pointer;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
